@charset "utf-8";
/* CSS Document */

*{
	box-sizing:border-box;
	/*border:1px dotted yellow;*/
}

.row::after
{
	content:"";
	clear:both;
	display:block;
}

/*======================================================================================================================================

Header
======================================================================================================================================*/

body
{
	padding:0;
	margin:0;
}

#main-header
{
	background-color: rgba(153,153,204,1);
	height: 100px;
	width: 100%;
	
}

#company-logo-container
{
	width: 15%;
	height: 100%;
	border: 1px solid blue;
	float: left;
}

#company-logo
{
	height: 100%;
	width: 100%;
	background: url("../images/company_logo.png") no-repeat center;
	background-size: contain;
}

#company-slogan
{
	width: 55%;
	height: 100%;
	color: #F0F0F0;
	float: left;

	display: flex;
  align-items: center;
}

#main-header-options
{
	width: 30%;
	height: 100%;
	float: right;
}

/*======================================================================================================================================

For Main Menu

======================================================================================================================================*/

#main-menu
{	
	margin: 0 auto;
	background-color: #f3f3f3;
}

#main-menu ul
{
	overflow: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
  vertical-align: top;
	font-family: sans-serif;
}

#main-menu ul li
{
	float: left;
  margin: 0;
  padding: 0;
}

#main-menu ul li a
{
	display: block;
	padding: 10px 40px;
	color: #666;
	background-color: #f3f3f3;
	text-decoration: none;
	border-right:1px solid #e7e7e7;
}

#main-menu ul li a.active
{
	color: #fff;
	background-color: #0169B1;
}

#main-menu ul li:hover a:not(.active) 
{
    color: #fff;	
	background-color: #00435B;
}

/*======================================================================================================================================

For Main Content

======================================================================================================================================*/

#main-content
{
	height: 450px;
	background-color: #030019
}



/*======================================================================================================================================

For Footer

======================================================================================================================================*/

#main-footer
{
	border-top: 1px solid gray;
	margin: 0px;
	padding: 0px;
	background-color: #EDEDEC;
}

#main-footer ul
{

}

#main-footer ul li
{
	list-style-type:none;
	display:inline-block;
}

#footer-menu
{
	text-align:center;
}

#main-footer a
{
	text-decoration: none;
	color: #003;
	padding:10px 40px;
}

#main-footer a:hover
{
	color: blue;
}

#copyright
{
	text-align:center;
}


/*==========================================================================

Screen Size Handling - for different devices - Desktop, Mobile, Tablet, etc.
============================================================================*/

.row::after
{
	content:"";
	clear:both;
	display:block;
}

/* for laptop */
[class*="prcnt"]
{
    float: left;
}

.gen-w-0prcnt{width:0%;}
.gen-w-1prcnt{width:1%;}
.gen-w-2prcnt{width:2%;}
.gen-w-3prcnt{width:3%;}
.gen-w-4prcnt{width:4%;}
.gen-w-5prcnt{width:5%;}
.gen-w-6prcnt{width:6%;}
.gen-w-7prcnt{width:7%;}
.gen-w-8prcnt{width:8%;}
.gen-w-9prcnt{width:9%;}
.gen-w-10prcnt{width:10%;}
.gen-w-11prcnt{width:11%;}
.gen-w-12prcnt{width:12%;}
.gen-w-13prcnt{width:13%;}
.gen-w-14prcnt{width:14%;}
.gen-w-15prcnt{width:15%;}
.gen-w-16prcnt{width:16%;}
.gen-w-17prcnt{width:17%;}
.gen-w-18prcnt{width:18%;}
.gen-w-19prcnt{width:19%;}
.gen-w-20prcnt{width:20%;}
.gen-w-21prcnt{width:21%;}
.gen-w-22prcnt{width:22%;}
.gen-w-23prcnt{width:23%;}
.gen-w-24prcnt{width:24%;}
.gen-w-25prcnt{width:25%;}
.gen-w-26prcnt{width:26%;}
.gen-w-27prcnt{width:27%;}
.gen-w-28prcnt{width:28%;}
.gen-w-29prcnt{width:29%;}
.gen-w-30prcnt{width:30%;}
.gen-w-31prcnt{width:31%;}
.gen-w-32prcnt{width:32%;}
.gen-w-33prcnt{width:33%;}
.gen-w-34prcnt{width:34%;}
.gen-w-35prcnt{width:35%;}
.gen-w-36prcnt{width:36%;}
.gen-w-37prcnt{width:37%;}
.gen-w-38prcnt{width:38%;}
.gen-w-39prcnt{width:39%;}
.gen-w-40prcnt{width:40%;}
.gen-w-41prcnt{width:41%;}
.gen-w-42prcnt{width:42%;}
.gen-w-43prcnt{width:43%;}
.gen-w-44prcnt{width:44%;}
.gen-w-45prcnt{width:45%;}
.gen-w-46prcnt{width:46%;}
.gen-w-47prcnt{width:47%;}
.gen-w-48prcnt{width:48%;}
.gen-w-49prcnt{width:49%;}
.gen-w-50prcnt{width:50%;}
.gen-w-51prcnt{width:51%;}
.gen-w-52prcnt{width:52%;}
.gen-w-53prcnt{width:53%;}
.gen-w-54prcnt{width:54%;}
.gen-w-55prcnt{width:55%;}
.gen-w-56prcnt{width:56%;}
.gen-w-57prcnt{width:57%;}
.gen-w-58prcnt{width:58%;}
.gen-w-59prcnt{width:59%;}
.gen-w-60prcnt{width:60%;}
.gen-w-61prcnt{width:61%;}
.gen-w-62prcnt{width:62%;}
.gen-w-63prcnt{width:63%;}
.gen-w-64prcnt{width:64%;}
.gen-w-65prcnt{width:65%;}
.gen-w-66prcnt{width:66%;}
.gen-w-67prcnt{width:67%;}
.gen-w-68prcnt{width:68%;}
.gen-w-69prcnt{width:69%;}
.gen-w-70prcnt{width:70%;}
.gen-w-71prcnt{width:71%;}
.gen-w-72prcnt{width:72%;}
.gen-w-73prcnt{width:73%;}
.gen-w-74prcnt{width:74%;}
.gen-w-75prcnt{width:75%;}
.gen-w-76prcnt{width:76%;}
.gen-w-77prcnt{width:77%;}
.gen-w-78prcnt{width:78%;}
.gen-w-79prcnt{width:79%;}
.gen-w-80prcnt{width:80%;}
.gen-w-81prcnt{width:81%;}
.gen-w-82prcnt{width:82%;}
.gen-w-83prcnt{width:83%;}
.gen-w-84prcnt{width:84%;}
.gen-w-85prcnt{width:85%;}
.gen-w-86prcnt{width:86%;}
.gen-w-87prcnt{width:87%;}
.gen-w-88prcnt{width:88%;}
.gen-w-89prcnt{width:89%;}
.gen-w-90prcnt{width:90%;}
.gen-w-91prcnt{width:91%;}
.gen-w-92prcnt{width:92%;}
.gen-w-93prcnt{width:93%;}
.gen-w-94prcnt{width:94%;}
.gen-w-95prcnt{width:95%;}
.gen-w-96prcnt{width:96%;}
.gen-w-97prcnt{width:97%;}
.gen-w-98prcnt{width:98%;}
.gen-w-99prcnt{width:99%;}
.gen-w-100prcnt{width:100%;}


/* for tablet */
@media only screen and (min-width:601px) and (max-width:1000px)
{
	[class*="prcnt"] {
	    /*background-color: yellow;*/
	}

	.tab-w-0prcnt{width:0%;}
	.tab-w-1prcnt{width:1%;}
	.tab-w-2prcnt{width:2%;}
	.tab-w-3prcnt{width:3%;}
	.tab-w-4prcnt{width:4%;}
	.tab-w-5prcnt{width:5%;}
	.tab-w-6prcnt{width:6%;}
	.tab-w-7prcnt{width:7%;}
	.tab-w-8prcnt{width:8%;}
	.tab-w-9prcnt{width:9%;}
	.tab-w-10prcnt{width:10%;}
	.tab-w-11prcnt{width:11%;}
	.tab-w-12prcnt{width:12%;}
	.tab-w-13prcnt{width:13%;}
	.tab-w-14prcnt{width:14%;}
	.tab-w-15prcnt{width:15%;}
	.tab-w-16prcnt{width:16%;}
	.tab-w-17prcnt{width:17%;}
	.tab-w-18prcnt{width:18%;}
	.tab-w-19prcnt{width:19%;}
	.tab-w-20prcnt{width:20%;}
	.tab-w-21prcnt{width:21%;}
	.tab-w-22prcnt{width:22%;}
	.tab-w-23prcnt{width:23%;}
	.tab-w-24prcnt{width:24%;}
	.tab-w-25prcnt{width:25%;}
	.tab-w-26prcnt{width:26%;}
	.tab-w-27prcnt{width:27%;}
	.tab-w-28prcnt{width:28%;}
	.tab-w-29prcnt{width:29%;}
	.tab-w-30prcnt{width:30%;}
	.tab-w-31prcnt{width:31%;}
	.tab-w-32prcnt{width:32%;}
	.tab-w-33prcnt{width:33%;}
	.tab-w-34prcnt{width:34%;}
	.tab-w-35prcnt{width:35%;}
	.tab-w-36prcnt{width:36%;}
	.tab-w-37prcnt{width:37%;}
	.tab-w-38prcnt{width:38%;}
	.tab-w-39prcnt{width:39%;}
	.tab-w-40prcnt{width:40%;}
	.tab-w-41prcnt{width:41%;}
	.tab-w-42prcnt{width:42%;}
	.tab-w-43prcnt{width:43%;}
	.tab-w-44prcnt{width:44%;}
	.tab-w-45prcnt{width:45%;}
	.tab-w-46prcnt{width:46%;}
	.tab-w-47prcnt{width:47%;}
	.tab-w-48prcnt{width:48%;}
	.tab-w-49prcnt{width:49%;}
	.tab-w-50prcnt{width:50%;}
	.tab-w-51prcnt{width:51%;}
	.tab-w-52prcnt{width:52%;}
	.tab-w-53prcnt{width:53%;}
	.tab-w-54prcnt{width:54%;}
	.tab-w-55prcnt{width:55%;}
	.tab-w-56prcnt{width:56%;}
	.tab-w-57prcnt{width:57%;}
	.tab-w-58prcnt{width:58%;}
	.tab-w-59prcnt{width:59%;}
	.tab-w-60prcnt{width:60%;}
	.tab-w-61prcnt{width:61%;}
	.tab-w-62prcnt{width:62%;}
	.tab-w-63prcnt{width:63%;}
	.tab-w-64prcnt{width:64%;}
	.tab-w-65prcnt{width:65%;}
	.tab-w-66prcnt{width:66%;}
	.tab-w-67prcnt{width:67%;}
	.tab-w-68prcnt{width:68%;}
	.tab-w-69prcnt{width:69%;}
	.tab-w-70prcnt{width:70%;}
	.tab-w-71prcnt{width:71%;}
	.tab-w-72prcnt{width:72%;}
	.tab-w-73prcnt{width:73%;}
	.tab-w-74prcnt{width:74%;}
	.tab-w-75prcnt{width:75%;}
	.tab-w-76prcnt{width:76%;}
	.tab-w-77prcnt{width:77%;}
	.tab-w-78prcnt{width:78%;}
	.tab-w-79prcnt{width:79%;}
	.tab-w-80prcnt{width:80%;}
	.tab-w-81prcnt{width:81%;}
	.tab-w-82prcnt{width:82%;}
	.tab-w-83prcnt{width:83%;}
	.tab-w-84prcnt{width:84%;}
	.tab-w-85prcnt{width:85%;}
	.tab-w-86prcnt{width:86%;}
	.tab-w-87prcnt{width:87%;}
	.tab-w-88prcnt{width:88%;}
	.tab-w-89prcnt{width:89%;}
	.tab-w-90prcnt{width:90%;}
	.tab-w-91prcnt{width:91%;}
	.tab-w-92prcnt{width:92%;}
	.tab-w-93prcnt{width:93%;}
	.tab-w-94prcnt{width:94%;}
	.tab-w-95prcnt{width:95%;}
	.tab-w-96prcnt{width:96%;}
	.tab-w-97prcnt{width:97%;}
	.tab-w-98prcnt{width:98%;}
	.tab-w-99prcnt{width:99%;}
	.tab-w-100prcnt{width:100%;}

}


/* for mobile */
@media only screen and (min-width:10px) and (max-width:600px)
{
	[class*="prcnt"] {
	   /* background-color: blue;*/
	}

	.slogan-container
	{
		position: static;
	}

	.slogan-container .slogan
	{
		position: static;
		color: #F0F0F0;
	}

	.header-m-height
	{
		position: static;
		height: auto;
	}

	.mob-w-0prcnt{width:0%;}
	.mob-w-1prcnt{width:1%;}
	.mob-w-2prcnt{width:2%;}
	.mob-w-3prcnt{width:3%;}
	.mob-w-4prcnt{width:4%;}
	.mob-w-5prcnt{width:5%;}
	.mob-w-6prcnt{width:6%;}
	.mob-w-7prcnt{width:7%;}
	.mob-w-8prcnt{width:8%;}
	.mob-w-9prcnt{width:9%;}
	.mob-w-10prcnt{width:10%;}
	.mob-w-11prcnt{width:11%;}
	.mob-w-12prcnt{width:12%;}
	.mob-w-13prcnt{width:13%;}
	.mob-w-14prcnt{width:14%;}
	.mob-w-15prcnt{width:15%;}
	.mob-w-16prcnt{width:16%;}
	.mob-w-17prcnt{width:17%;}
	.mob-w-18prcnt{width:18%;}
	.mob-w-19prcnt{width:19%;}
	.mob-w-20prcnt{width:20%;}
	.mob-w-21prcnt{width:21%;}
	.mob-w-22prcnt{width:22%;}
	.mob-w-23prcnt{width:23%;}
	.mob-w-24prcnt{width:24%;}
	.mob-w-25prcnt{width:25%;}
	.mob-w-26prcnt{width:26%;}
	.mob-w-27prcnt{width:27%;}
	.mob-w-28prcnt{width:28%;}
	.mob-w-29prcnt{width:29%;}
	.mob-w-30prcnt{width:30%;}
	.mob-w-31prcnt{width:31%;}
	.mob-w-32prcnt{width:32%;}
	.mob-w-33prcnt{width:33%;}
	.mob-w-34prcnt{width:34%;}
	.mob-w-35prcnt{width:35%;}
	.mob-w-36prcnt{width:36%;}
	.mob-w-37prcnt{width:37%;}
	.mob-w-38prcnt{width:38%;}
	.mob-w-39prcnt{width:39%;}
	.mob-w-40prcnt{width:40%;}
	.mob-w-41prcnt{width:41%;}
	.mob-w-42prcnt{width:42%;}
	.mob-w-43prcnt{width:43%;}
	.mob-w-44prcnt{width:44%;}
	.mob-w-45prcnt{width:45%;}
	.mob-w-46prcnt{width:46%;}
	.mob-w-47prcnt{width:47%;}
	.mob-w-48prcnt{width:48%;}
	.mob-w-49prcnt{width:49%;}
	.mob-w-50prcnt{width:50%;}
	.mob-w-51prcnt{width:51%;}
	.mob-w-52prcnt{width:52%;}
	.mob-w-53prcnt{width:53%;}
	.mob-w-54prcnt{width:54%;}
	.mob-w-55prcnt{width:55%;}
	.mob-w-56prcnt{width:56%;}
	.mob-w-57prcnt{width:57%;}
	.mob-w-58prcnt{width:58%;}
	.mob-w-59prcnt{width:59%;}
	.mob-w-60prcnt{width:60%;}
	.mob-w-61prcnt{width:61%;}
	.mob-w-62prcnt{width:62%;}
	.mob-w-63prcnt{width:63%;}
	.mob-w-64prcnt{width:64%;}
	.mob-w-65prcnt{width:65%;}
	.mob-w-66prcnt{width:66%;}
	.mob-w-67prcnt{width:67%;}
	.mob-w-68prcnt{width:68%;}
	.mob-w-69prcnt{width:69%;}
	.mob-w-70prcnt{width:70%;}
	.mob-w-71prcnt{width:71%;}
	.mob-w-72prcnt{width:72%;}
	.mob-w-73prcnt{width:73%;}
	.mob-w-74prcnt{width:74%;}
	.mob-w-75prcnt{width:75%;}
	.mob-w-76prcnt{width:76%;}
	.mob-w-77prcnt{width:77%;}
	.mob-w-78prcnt{width:78%;}
	.mob-w-79prcnt{width:79%;}
	.mob-w-80prcnt{width:80%;}
	.mob-w-81prcnt{width:81%;}
	.mob-w-82prcnt{width:82%;}
	.mob-w-83prcnt{width:83%;}
	.mob-w-84prcnt{width:84%;}
	.mob-w-85prcnt{width:85%;}
	.mob-w-86prcnt{width:86%;}
	.mob-w-87prcnt{width:87%;}
	.mob-w-88prcnt{width:88%;}
	.mob-w-89prcnt{width:89%;}
	.mob-w-90prcnt{width:90%;}
	.mob-w-91prcnt{width:91%;}
	.mob-w-92prcnt{width:92%;}
	.mob-w-93prcnt{width:93%;}
	.mob-w-94prcnt{width:94%;}
	.mob-w-95prcnt{width:95%;}
	.mob-w-96prcnt{width:96%;}
	.mob-w-97prcnt{width:97%;}
	.mob-w-98prcnt{width:98%;}
	.mob-w-99prcnt{width:99%;}
	.mob-w-100prcnt{width:100%;}
}
